@charset "UTF-8";

/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  a {
    text-decoration: none !important;
  }


  /*VARIABLES*/
:root{
  --color-green: #36BA9B;
  --color-blue: #39AED9;
  --color-yellow: #F5B946;
  --color-red: #D94352;
  --color-light: #F3F6FA;
  --color-dark: #1D2025;
  --color-search: blueviolet;

}




  .justify{
    text-align: justify;
  }


  /* Estilo padrão para o checkbox */
input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #333;
  border-radius: 4px;
  outline: none;
  display: flex; /* Adiciona display flex */
  align-items: center; /* Centraliza verticalmente */
  align-self: center;
}

/* Estilo do checkbox quando marcado */
input[type="checkbox"]:checked {
  background-color: #2196F3; /* Cor de fundo quando marcado */
  border-color: #2196F3; /* Cor da borda quando marcado */
}

/* Estilo da marcação dentro do checkbox */
input[type="checkbox"]:checked::before {
  content: '\2713'; /* Código Unicode para o marcador de seleção (✓) */
  font-size: 12px;
  color: #fff; /* Cor do marcador quando marcado */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Deixar na mesma linha o CheckBox*/
.checkbox-wrapper {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
}
.checkbox-wrapper > input{
  margin-left: 5px;
}

.icon-inactive {
  color: red !important;
}

.icon-active{
  color: green !important;
}


.status  {
  position: relative;
}

.status::after {
  content: "Um ícone verde representa status ativo, enquanto um ícone vermelho indica status inativo";
  position: absolute;
  bottom: 25px; /* Ajuste conforme necessário para a posição do texto */
  /* bottom: -20px; Ajuste conforme necessário para a posição do texto */
  left: 5%; /* Ajuste conforme necessário para a posição do texto */
  /* left: 50%; Ajuste conforme necessário para a posição do texto */
  transform: translateX(3%);
  /* transform: translateX(-50%); */
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.status:hover::after {
  opacity: 1;
}

/*DEFAULT PAGINATOR*/

.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}

.paginator a,
.paginator span {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #cccccc;
  border-right: 0;
  color: #555555;
  font-weight: var(--weight-bold);
  text-decoration: none;
  transition-duration: 0.2s;
}

.paginator a:first-of-type {
  -webkit-border-radius: var(--radius-normal) 0 0 var(--radius-normal);
  -moz-border-radius: var(--radius-normal) 0 0 var(--radius-normal);
  border-radius: var(--radius-normal) 0 0 var(--radius-normal);
}

.paginator a:last-of-type {
  border-right: 1px solid #cccccc;
  -webkit-border-radius: 0 var(--radius-normal) var(--radius-normal) 0;
  -moz-border-radius: 0 var(--radius-normal) var(--radius-normal) 0;
  border-radius: 0 var(--radius-normal) var(--radius-normal) 0;
}

.paginator a:hover {
  background: var(--hover-color-green);
  background-size: 200%;
  color: #FBFBFB;
}

.paginator span {
  background: #cccccc;
}